<head>
    <%- include("partials/head") %>
    <script type="text/javascript" src="/js/products/product-create-form-validator.js" defer></script>
    <style>
        .errorMsg {
            display: none;
            color: red;
        }
    
        .display {
            display: block;
        }
    </style>
</head>

<body class="bg-light-grey">

    <header class="bg-grey p-20">
        <%- include("partials/header") %>
    </header>

    <main class="bg-img">
        <form action="/bikes" method="POST" class="create-form" enctype="multipart/form-data" id="form">
          <h2 class="center">Crear Bicicleta</h2>  
          <div class="m-pic">
                <label for="modelName">Nombre del Modelo:</label>
              <p> 
                <input type="text" id="modelName" name="modelName" placeholder="Bicicleta BW Race" class="control box-formulario">
                <span class = "errorMsg" id="modelNameError"> </span>
              </p>  
              </div>
              <div class="red-text">
                <% if (errors && errors.modelName){ %>
                  <%= errors.modelName.msg %>
                <% } %>
              </div>
           
            <div class="m-pic">
                <label for="category">Categoría de la bicicleta:</label>
                <select name="category" id="category">
                  <% if (categories && categories.length) { %>
                    <% categories.forEach(category => { %>
                      <option value="<%= category.id %>"><%= category.name %></option>
                    <% }); %>
                  <% } else { %>
                    <option value="" disabled>No hay categorías disponibles</option>
                  <% } %>
                </select>
              </div>
              
              <!-- Tamaños -->
              <div class="m-pic">
                <label for="size">Tamaño del cuadro:</label>
                <select name="size" id="size">
                  <% if (sizes && sizes.length) { %>
                    <% sizes.forEach(size => { %>
                      <option value="<%= size.id %>"><%= size.name %></option>
                    <% }); %>
                  <% } else { %>
                    <option value="" disabled>No hay tamaños disponibles</option>
                  <% } %>
                </select>
              </div>
              
              <!-- Colores -->
              <div class="m-pic">
                <label for="color">Color:</label>
                <select name="color" id="color">
                  <% if (colors && colors.length) { %>
                    <% colors.forEach(color => { %>
                      <option value="<%= color.id %>"><%= color.name %></option>
                    <% }); %>
                  <% } else { %>
                    <option value="" disabled>No hay colores disponibles</option>
                  <% } %>
                </select>
              </div>
              
              <!-- Marcas -->
              <div class="m-pic">
                <label for="brand">Marca del producto:</label>
                <select name="brand" id="brand">
                  <% if (brands && brands.length) { %>
                    <% brands.forEach(brand => { %>
                      <option value="<%= brand.id %>"><%= brand.name %></option>
                    <% }); %>
                  <% } else { %>
                    <option value="" disabled>No hay marcas disponibles</option>
                  <% } %>
                </select>
              </div>
            <div class="m-pic">
                <label for="price">Precio del producto:</label>
              <p>
                <input type="text" id="price" name="price" placeholder="$159.700" class="control box-formulario">
                <span class = "errorMsg" id="priceError"> </span>
              </p> 
              </div>
            <div class="m-pic">
                <label for="description">Descripción:</label>
              <p>  
                <textarea id="description" name="description" class="control box-formulario"></textarea>
                <span class = "errorMsg" id="descriptionError"> </span>
              </p>  
              </div>
                <div class="red-text">
                <% if (errors && errors.description){ %>
                  <p class="red-text"><%= errors.description.msg %> </p>
                <% } %>
                </div> 

            <div class="m-pic">
                <label for="image">Imagen del producto</label>
                <p>
                  <input type="file" id="image" name="image">
                  <span class = "errorMsg" id="imageError"> </span>
                </p>  
                
            </div>

            <div class="red-text">
                <% if (errors && errors.image){ %>
                  <p class="red-text"><%= errors.image.msg %> </p>
                <% } %>
            </div>
            <div class="m-pic">
                <button type="reset" class="boton-formulario m-pic">Borrar</button>
                <button type="submit" class="boton-formulario m-pic">Guardar</button>
            </div>

        </form>
    </main>

    <%- include("partials/footer") %>

</body>

</html> 